/* ****************************************************************
                __________COMMON STYLES__________
****************************************************************** */

/* =============Imported Font=============  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* ============= CSS Variables=============  */
:root{
    --color-primary:#131313;
    --color-secondary:#424242;
    --color-tertiary:#727272;
    --btn-bg:#ff900e;
    --border-color:#ff8c08;
    --header-bg:#ff900e1a;
    --footer-bg:#FFF4E7;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

a{
    color: var(--color-secondary);
}

.btn-primary{
    border: none;
    background-color: var(--btn-bg);
    color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 5px;
}
/* ****************************************************************
             __________HEADER STYLES__________
****************************************************************** */
header{
    background-color: var(--header-bg);
}
.header__wrapper{
    width: 80%;
    margin: 0 auto;
}
/* =============Nav Bar Styles=============  */
nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1.9rem 0;
}
.nav-logo{
    width: 60%;
}
.nav-logo > h2{
    font-weight: 800;
    font-size: 1.8rem;
}
.nav-link{
    width: 40%;
}
.nav-link > ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-link > ul > li > a{
    background: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--color-secondary);
    transition: all .3s ease;
}

.nav-link > ul > li > a:hover{
    background: var(--btn-bg);
    color: #fff;
}

/* =============Hero Section Styles=============  */
.hero_area_wrapper{
    text-align: center;
}
.web-header{
    font-size: 2rem;
    line-height: 60px;
}
.web-intro-text{
    padding: 1rem 3rem 1.5rem;
    line-height: 1.4rem;
    color: var(--color-tertiary);
}
.top-banner{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
.top-banner > img{
    width: 100%;
}
/* ****************************************************************
                __________MEDIA QUIRES__________
****************************************************************** */


/* =============For Small Devices=============  */

@media only screen and (max-width:576px){

    .container{
        width: 90%;
        padding: 2rem 0 1rem;
    }
    .header__wrapper{
    width: 100%;
    

}
    nav{
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
     }
     .nav-logo{
        width: 100%;
    }
    .nav-logo > h2{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 20px;
    }
        .nav-link{
        width: 100%;
    }
    .nav-link > ul{
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        gap: 20px;
    }

    /* =============Hero Section Styles=============  */

    .web-header{
        font-size:1.05rem;
        line-height: 1.8rem;
    }
    .web-intro-text{
        padding: 1rem 0;
        line-height: 1.3rem;
        text-align: justify;
    }
    .top-banner{
        width: 90%;
    }

}

/* ==============For Medium Devices============  */

@media only screen and (min-width:577px) and (max-width:992px){
    .header__wrapper{
        width: 90%;
        
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
     }
     .nav-logo{
         width: 50%;
     }

     .nav-link{
         width: 50%;
     }
     .nav-link > ul > li > a{
        padding: 5px 8px;
    }
    
    /* =============Hero Section Styles=============  */

    .web-header{
        font-size:1.05rem;
        line-height: 1.8rem;
    }
    .web-intro-text{
        padding: 1rem 0;
        line-height: 1.3rem;
    }
    .top-banner{
        width: 90%;
    }

}
    

